---
const { title } = Astro.props;
import CrossCircled from "@astropub/icons/CrossCircled"
---

<div class="rounded-lg bg-red-100 px-6 py-4 my-4">
	<div class="flex gap-4 items-center mb-4">
		<div class="rounded-full p-2.5 bg-red-200 border border-red-300 w-[40px] h-[40px] [&>svg]:fill-red-800">
			<CrossCircled></CrossCircled>
		</div>
		<h3 class="font-medium text-lg m-0 p-0">{title}</h3>
	</div>
	<slot></slot>
</div>